/* Start js file */

.startdiv{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100vh; 
    
    
}
.startbut{
    padding: 1rem 2rem; 
    font-size: 3rem;
    line-height: 1; 
    border-radius: 10px; 
    border-width: 1px; 
    cursor: pointer;
    color: white;
    background-color: green;
    transition: all 0.3s ease-in-out;
    border: none;
}

.startbut:hover {
    color: black;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border: none;
}

/* Quizjs file  */

.oned{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100vh; 
}

.bigbox{
    overflow: hidden; 
    border-radius: 0.375rem; 
    border-width: 1px; 
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    width: 80%;
    background-color: white;
}
.quesbox{
    padding: 0.75rem; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
}
.optbox{
    display: grid; 
    margin-top: 0.75rem; 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
}
.inallopts{
    padding: 1.5rem; 
    border-width: 1px; 
    box-shadow: 0px 0px 1px 0px #746d6d;

}
.inallopts:hover{
    background-color: #60A5FA; 
    color: #ffffff; 
    transition-duration: 200ms; 
    cursor: pointer; 
}

.inallopts:visited{
    background-color: #000000; 
    color: #ffffff; 
}

.rse{
    display: flex; 
    justify-content: center; 
    padding: 1rem;
    font-size: 1rem;
}

.reset{
    background-color: #F7A400;
    color: #ffffff; 
    cursor: pointer; 
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 0 1rem;
}

.save{ 
    background-color: #10B981; 
    color: #ffffff; 
    cursor: pointer; 
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0 1rem;
}

.exit{
    background-color: #EF4444; 
    color: #ffffff; 
    cursor: pointer; 
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin: 0 1rem;
}

/* resultjs file */

.maindiv{
    display: flex; 
    justify-content: center; 
    width: 100%; 
    padding: 3rem 2rem;
}

.hugebox{
    overflow: hidden; 
    text-align: center; 
    border-radius: 0.375rem; 
    border-width: 1px; 
    width: 80%;
    padding: 1rem;
    /* height: 70%; */
    box-shadow: 0px 1px 13px 5px #e3e1e1;
    /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);  */
}

.oneh {
    padding: 1rem;
    font-size: 2rem;
}

.career_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.career_container div {
    font-weight: 700;
    text-align: center;
    padding: 1rem 2rem;
    min-width: 200px;
    max-width: 20%;
    width: 20%;
    border: solid 1px rgb(215, 215, 215);
    box-shadow: 0px 2px rgb(192, 192, 192);
    margin: 0.5rem;
}

.startag{
    padding: 1.25rem; 
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
    background-color: black;
    border-radius: 5%;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}

.startag:hover {
    color: white;
    background-color: green;
    transition: all 0.3s ease-in-out;
    border: none;
}
